body {
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   font-size: 20px;
   letter-spacing: 1px;
   text-align: center;
}

header p {
    font-family: 'Courier New', Courier, monospace;
}

article p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 20px;
    padding-right: 30px;
}


header {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

header .h1 {
    margin-top: 50px;

}

/*  body  */
.box {
   font-size: 18px;
   font-family: 'Courier New', Courier, monospace;
   border-radius: 12px;
   background-color:#F8F8F8;
   border: none;
   height: 150px;

}

.saveBtn {
    background-color:rgb(59, 59, 59);
    border-radius: 12px;
    margin-left: 20px;
    height: 50px;
    width: 50%;

}

.savebtn-img {
    padding: 5px 15px 0px 15px;

}

.row {
    vertical-align: center;
    margin-bottom: 20px;
}

.past {
    background: url(https://t3.ftcdn.net/jpg/03/00/79/08/360_F_300790899_027OXxAM50Jb1zZMQJDaBr4tdMD354Rv.jpg);
}

.present {
    background-color: linen;
}

.future {
    background-color:#F8F8F8;
}